@using static Beaniac.Shared.Components.BStack
<span>
<FluentCard>
    <NavLink Href=@($"/beans/{Coffee.Id}")>
    <BStack Orientation="Orientation.Vertical"
                    HorizontalAlignment="HorizontalAlignment.Left"
                    VerticalAlignment="VerticalAlignmentValue.SpaceBetween"
                    Height="100%">
        <BStack Height="100%"
                     Orientation="Orientation.Vertical"
                    HorizontalAlignment="HorizontalAlignment.Center"
                    VerticalAlignment="VerticalAlignmentValue.Center">
            <img src="@Coffee.ImageUrl?.FirstOrDefault()" style="max-width: 100%; max-height: 100%;" />
        </BStack>
        <BStack Orientation="Orientation.Vertical"
                    HorizontalAlignment="HorizontalAlignment.Left"
                    VerticalAlignment="VerticalAlignmentValue.Center"
                    VerticalGap="5">
            <h4>@Coffee.Name</h4>
            <p>@Coffee.Origin</p>
            <FluentOverflow Style="width: 100%;">
                @foreach (var item in Coffee.TastingNotes ?? new List<TastingNote>())
                {
                    <FluentOverflowItem><FluentBadge>@item.Name</FluentBadge></FluentOverflowItem>
                }
            </FluentOverflow>
        </BStack>
    </BStack>
    </NavLink>
</FluentCard>
</span>
@code {
    [Parameter]
    public required Coffee Coffee { get; set; }
}