@page "/"
@inject RestService RestService

<PageTitle>Home</PageTitle>

<PullGrid @bind-Items="Coffees" OnRefreshAsync="@(() => Refresh(true))">
    <NoImageContent>
        <FluentEmoji Value="@(new Emojis.FoodDrink.HighContrast.Default.Beans())" part="icon-rest" Width="100%"/>
    </NoImageContent>
    <CardExtraContent>
        <p>@context.Origin</p>
        <FluentOverflow Style="width: 100%;">
            @if (context.TastingNotes is IEnumerable<TastingNote>)
            {
                @foreach (var item in context.TastingNotes)
                {
                    <FluentOverflowItem><FluentBadge>@item.Name</FluentBadge></FluentOverflowItem>
                }
            }
        </FluentOverflow>
    </CardExtraContent>
</PullGrid>

@code {
    List<Coffee> Coffees = new List<Coffee>();

    protected override async Task OnInitializedAsync()
    {
        await Refresh(false);
    }

    async Task<bool> Refresh(bool forceRefresh)
    {
        var Result = await RestService.GetAsync<Coffee>(forceRefresh);
        Coffees = Result ?? new List<Coffee>();
        StateHasChanged();
        return true;
    }
}